<html>
  <form method="POST" action="/new">
    Name:<input type="text" name="name">
    Breed:<input type="text" name="breed">
    Age:<input type="text" name="age">
    <input type="submit" id="submit">
  </form>
</html>
