<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy creator!</title>
  </head>
  <body>
    <h1>Input puppy stats</h1>
    <form method="POST" action="/new">
      <p>Puppy name: <input type="text" name="name"></p>
      <p>Puppy breed: <input type="text" name="breed"></p>
      <p>Puppy age: <input type="text" name="age"></p>
      <br></br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
