<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Puppy</title>
  </head>
  <body>
    <form class="" action="/" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" value="">
      <label for="breed">Breed</label>
      <input type="text" name="breed" value="">
      <label for="age">Age</label>
      <input type="text" name="age" value="">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
