<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Puppies</h1>
    <form method="post" action="/display_puppy">
      <input type="text" name="name">
      <input type="text" name="breed">
      <input type="text" name="age">
      <input type="submit" id="submit">
    </form>
  </body>
</html>
