<html>
<h1>Click Here To List A Puppy</h1>
<form method="POST" action="/new">
  <p>Name: <input type="text" name="name"> </p>
  <p>Breed: <input type="text" name="breed">  </p>
  <p>Age: <input type="text" name="age">  </p>
  <input type="submit" id="submit">
</form>
</html>
