<form action="/" method="post">
  <p>Name <input type="text" name="name" value="name"></p>
  <p>Age <input type="text" name="age" value="age"></p>
  <p>Breed <input type="text" name="breed" value="breed"></p>
  <input type="submit" id="submit">
</form>
