<form method='post' action='/'>
  Name:<br>
  <input type="text" name="name"><br>
  Breed:<br>
  <input type="text" name="breed"><br>
  Age:<br>
  <input type="text" name="age"><br>
  <button type="submit" value="submit">Submit</button>
</form>
