<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppies</title>
 </head>
<body>

  <h2>List a puppy:</h2>
  <form method="POST" action="/">
    <p>Name: <input type="text" name="name" /></p>
    <p>Breed: <input type="text" name="breed" /></p>
    <p>Age: <input type="text" name="age" /></p>
    <input type="submit" id="submit" />
  </form>

</body>
</html>
