<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Create a Puppy!</h1>
    <form method="POST" action="/display_puppy">
      "Enter a name:" <input type="text" name="name"><br>
      "Enter a breed:" <input type="text" name="breed"><br>
      "Enter an age:" <input type="text" name="age"><br>
      <input type="submit" id="submit">
    </form>

  </body>
</html>
