<form class="" action="/new" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="">
  <label for="">Breed:</label>
  <input type="text" name="breed" value="">
  <label for="">Age:</label>
  <input type="text" name="age" value="">

  <input type="submit" name="" value="submit">
</form>
