<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Puppy</title>
 </head>
 <body>
    <h1>Puppy Name: <%= @puppy_name %></h1>
    <h2>Puppy Breed: <%= @puppy_breed %></h2>
    <h2>Puppy Age: <%= @puppy_age %></h2>
 </body>
</html>
