<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to the Puppy Adoption Site</title>
  </head>
  <body>
    <li><a href="/new">Click Here To List A Puppy</a></li>

  </body>
</html>
